h1 {
    color: #cdffd3;
    font-family: 'comic-sans';
    font-size: 75px;
    font-weight: 450px;
    letter-spacing: -1px;
    line-height: 16;
    text-align: right;
    background-image: url(images/ah-kid-peanut-butter-baby.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

p {
    color: #685206;
    font: 'Papyrus';
    font-size: 8px;
    line-height: 24px;
    margin: left;
    text-align: right;
}

textarea {
    margin: 250px;
    width: 30px;
    height: 50px;
    background-color: #bddefc;
}

ul, ol {
    margin: 20px;
    padding: 100;
    background-color: aquamarine;
    font-family: cursive;
    font-size: xx-small;
}

li {
    font-family: fantasy;
    font-size: 12px;
    border-bottom: 25px dotted #ccc;
}
   
li:last-child {
    border: dotted 15px wheat;
}

form, h3 {
    height:11px;
    width:1900px;
    border:310px burlywood solid;
    padding:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
    
input, textarea {
    padding:5px;
    margin:5px;
}

