h1 {
    color: rgb(99, 9, 59);
    font-family: 'sans-serif', Helvetica Neue;
    font-size: 350px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 3;
    text-align: left;
}

p {
    color: greenyellow;
    font-family: 'Verdana', sans-serif;
    font-size: 30px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    border: 1rem dotted pink;
}

textarea {
    margin: 35px;
    width: 200px;
    height: 120px;
}

ul, ol {
    margin: 10px;
    padding: 0;
}

li {
    font: 300 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid rgb(31, 20, 155);
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:5px rgb(4, 255, 0) solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}