body {
    background-image: url("https://arc-anglerfish-arc2-prod-bostonglobe.s3.amazonaws.com/public/XILUPZFUNQI6THDJBFNCFFY4OY.jpg");
  background-size: 100%;
}


h1
{

    color: purple;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    overflow: hidden;
    font-family: 'Trajan Pro', sans-serif;
    font-size: 150px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: -5;
    text-align: center;
    transform: rotateZ(45deg);
    background-color: yellow;
    transition: .4s ease;
}

p {
    color: orange;
    font-family: 'Bonzai', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
    transform: rotateZ(-45deg);
    background-color: green
}

textarea {
    color: brown;
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 20px;
    padding: 0;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}
   
li:last-child {
    border: none;
}

form {
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:5px;
    margin:5px
}